/* Zera as propriedades que vem padrão do navegador*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/*Formatações do menu(externo)*/
header{
    width: 100%;
    background-color: #000000	;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 ;
}

/* formatação do logo (imagem)*/
.logo-imagem{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 35px;
}

/* centraliza os e alinha os itens do menu*/
.container-logo{
    display: flex;
    align-items: center;
}

/*Formatação do logo (texto)*/
.logo-texto{
  margin-left: 20px;
  color: white;
}

/* Formatação para deixar os itens do menu lada a lado e os espacamento entre eles */
.menu li {
   display: inline-block;
   margin: 0 10px;
}
/* Tamanho da fonte,cor, e tirar decaroção(__)*/
.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}
/*Aparece uma borda quando o usuario passa pontero em cima das opções (alpha(opacidade))*/
.menu li a:hover{
      background-color: rgba(100, 100,100, 0.5);
}


/*Formatação carrossel*/
/* largura do corroseel*/
#items-wrapper {
  width: 98.7.5vw;
}
/* alinha a imagens uma do lado da outra, overflow esconde as imagens uma atras de outra, snap faz a imagem aparece toda na tela não só uma parte, smooth formata como a imagens serão passadas*/
#items {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
/* desabilita que as imagens fique lado a lado, delimita o tamanho delas, formata, desabilita eventos com o ponteiro do mouse*/
.item {
  flex: none;
  width: 100%;
  height: 700px;
  scroll-snap-align: start;
  pointer-events: none;
}
/*fromatação das imagens no slide*/
.img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* footer*/

footer{
   
    bottom: 20px;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 98.7.5vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
/* formatação dos intens dentro do footer*/
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* estilização h3*/
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
/* Formatação primerio paragrafo*/
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
/* desativa o padrão do ul, alinha os itens lada a lado, alinha eles no centro, espaçamento */
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 3rem 0;
}
/* espaçamento entre o icones*/
.socials li{
    margin: 0 10px;
}
/*Tirar a decoração padrão do link, mudar as cor dos icones*/
.socials a{
    text-decoration: none;
    color:white;
}
/*tamanhdo dos icone,tempo de transição da cor*/
.socials a i{
    font-size: 2.1rem;
    transition: color .4s ease;

}
/*Mudar a cor do icone quando passar o mouse em cima*/
.socials a:hover i{
    color: blue;
}
/* Formatação da parte de baixo do footer*/
.footer-bottom{
    background: #000;
    width: 98.7.5vw;
    padding: 20px 0;
    text-align: center;
}
/* formatação do paragafro tamanho da font, espaçamento entre as palavras do paragrafo*/
.footer-bottom p{
    font-size: 14px;
    word-spacing: 4px;
    text-transform: capitalize;
}
/* Trasforma o texto em maisculo,opacidade e tamanho da font*/
.footer-bottom span{
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200px;
}