
/*formatação da caixinha do login*/
.container {
    width: 100%;
    margin: auto;
}

/* LOGIN */

.login {
    background-color: #00000050;
    height: 700px;
    background-image: url("../imagens/login.PNG");
    background-size: cover; 
    color: white;
   
  }
  
  /* */
  .container {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
  }
  

  
   /* formatação da caixinha do login */
   .card{
    border: #09008078 3px solid;
    border-radius: 5%;
    background-color:#0000ff1e;
    height: 450px;
    width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  input{
    height: 30px;
    border: 2px black solid;
  }
  /*estilização do ponteiro do mouse*/
  button {
    cursor: pointer;
    width: 60px;
    border: 2px black solid;
  }
